@{
    ViewData["Title"] = "Time Management Matrix";
}


@*Make sure this is running only the incomplete tasks*@
@{
    var incompleteTasks = Model.Where(t => t.Completed == false).ToList();
}

@model List<Project2Mission8_S3G6.Models.Task>
@*Create the quadrant container*@
<div class="container">
    <h2>Stephen Covey's Time Management Matrix</h2>

    @*  Display the tasks in four quadrants *@
    @*Include the buttons for delete, edit, and complete*@
    <div class="row">
        <div class="col-sm-6 col-md-3 quadrant">
            <h4 class="text-center">Important and Urgent</h4>
            @foreach (var task in incompleteTasks.Where(t => t.Quadrant == 1))
            {
            <div>
                @task.TaskName
                <div class="task-buttons">
                    <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskId">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@task.TaskId">Delete</a>
                    <a asp-controller="Home" asp-action="Complete" asp-route-taskid="@task.TaskId">Complete</a>
                </div>
            </div>
            }
        </div>

        <div class="col-sm-6 col-md-3 quadrant">
            <h4 class="text-center">Important but not Urgent</h4>
            @foreach (var task in incompleteTasks.Where(t => t.Quadrant == 2))
            {
            <div>
                @task.TaskName
                <div class="task-buttons">
                    <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskId">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@task.TaskId">Delete</a>
                    <a asp-controller="Home" asp-action="Complete" asp-route-taskid="@task.TaskId">Complete</a>
                </div>
            </div>
            }
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6 col-md-3 quadrant">
            <h4 class="text-center">Not Important but Urgent</h4>
            @foreach (var task in incompleteTasks.Where(t => t.Quadrant == 3))
            {
            <div>
                @task.TaskName
                <div class="task-buttons">
                    <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskId">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@task.TaskId">Delete</a>
                    <a asp-controller="Home" asp-action="Complete" asp-route-taskid="@task.TaskId">Complete</a>
                </div>
            </div>
            }
        </div>

        <div class="col-sm-6 col-md-3 quadrant">
            <h4 class="text-center">Not Important and Not Urgent</h4>
            @foreach (var task in incompleteTasks.Where(t => t.Quadrant == 4))
            {
            <div>
                @task.TaskName
                <div class="task-buttons">
                    <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskId">Update</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-taskid="@task.TaskId">Delete</a>
                    <a asp-controller="Home" asp-action="Complete" asp-route-taskid="@task.TaskId">Complete</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>
